RewriteEngine On

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteRule ^/?$ login.html
RewriteRule ^p_login/?$ login.html
RewriteRule ^p_home?$ home.html
RewriteRule ^p_list_all?$ list_all.html

RewriteRule ^login/?$ api/login.php
RewriteRule ^folder/?$ api/folder.php
RewriteRule ^folder/(.+)/?$ api/folder.php
RewriteRule ^recurring/?$ api/recurring.php
RewriteRule ^recurring/(.+)/?$ api/recurring.php
RewriteRule ^space/?$ api/space.php
RewriteRule ^space/(.+)/?$ api/space.php
RewriteRule ^status/?$ api/status.php
RewriteRule ^status/(.+)/?$ api/status.php
RewriteRule ^task/?$ api/task.php
RewriteRule ^task/(.+)/?$ api/task.php
RewriteRule ^user/?$ api/user.php
RewriteRule ^user/(.+)/?$ api/user.php
RewriteRule ^version/?$ api/version.php
RewriteRule ^version/external?$ api/version.php